/* Палітра кольорів */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white: #fff;
	--dark-background: #2f303a;
	--light-background: #f5f4fa;
	--logo-black: #000;
	--contact-footer: rgb(255 255 255 / 0.6);
	--hero-btn-active: #188ce8;
	--header-border-color: #ececec;
	--card-border-color: #eee;
	--primary-icon-color: #afb1b8;

	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-time: 250ms;
	--transition-time-modal: 1000ms;
}

/* Глобальні стилі */
body {
	font-family: "Roboto", sans-serif;
	color: var(--primary-text-color);
	background-color: var(--primary-white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/* Скидання стилів*/
.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.link {
	text-decoration: none;
}
.img {
	display: block;
}

/* Загальний допоміжний клас для центрування і обмеження контенту по ширині */
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Клас для приховування заголовків, що відсутні на макеті */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/* ХЕДЕР*/
.header {
	border-bottom: 1px solid var(--header-border-color);
}
.header .container {
	display: flex;
	align-items: center;
}
/* Стилі логотипу */
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--logo-black);
}
.logo > .accent {
	color: var(--accent-color);
}
.header .logo {
	padding: 24px 0;
}

/* Стилі навігації в хедері */
.site-nav,
.site-nav .list,
.contact-nav {
	display: flex;
}
.site-nav {
	align-items: center;
}
.contact-nav {
	margin-left: auto;
}
.site-nav .item + .item,
.contact-nav .item + .item {
	margin-left: 50px;
}
.logo + .list {
	margin-left: 93px;
}
.site-nav .link,
.contact-nav .link {
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link {
	color: var(--title-text-color);
}
.contact-nav .link {
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
}
.contact-nav-icon {
	margin-right: 10px;
	fill: currentColor;
}
/* Колір при наведенні та фокуксі та колір поточної сторінки */
.site-nav .link,
.contact-nav .link {
	transition: color var(--transition-time) var(--transition-timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
	color: var(--accent-color);
}

.link.current {
	position: relative;
	color: var(--accent-color);
}

.current::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 108%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
	transform: translate(-4%, 0);
}

/* СЕКЦІЯ HERO */
.hero {
	text-align: center;
	background-color: var(--dark-background);
}
.overlay {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	height: 600px;
	padding: 200px 0;
	background-image: linear-gradient(to right, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)),
		url("../images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.div-hero-title {
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}
.hero-title {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white);
}

/* СТИЛІ КНОПОК
.hero-btn - кнопка секції-герою, 
.primary-btn - кнопки фільтру в портфоліо*/
.hero-btn,
.form-btn,
.primary-btn {
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: color var(--transition-time) var(--transition-timing-function),
		background-color var(--transition-time) var(--transition-timing-function),
		box-shadow var(--transition-time) var(--transition-timing-function);
}

.hero-btn {
	padding: 10px 32px;
	min-width: 216px;
}
.hero-btn,
.form-btn {
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus,
.form-btn:hover,
.form-btn:focus {
	background-color: var(--hero-btn-active);
}
.primary-btn {
	padding: 6px 22px;
	min-width: 73px;
	font-weight: 500;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--light-background);
}
.hero-btn,
.form-btn,
.primary-btn:hover,
.primary-btn:focus {
	color: var(--primary-white);
	background-color: var(--accent-color);
}
.primary-btn:hover,
.primary-btn:focus {
	box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08), 0px 2px 2px rgb(0 0 0 / 0.12);
}
.form-btn {
	margin: 0 auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 28px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 0.15);
}
.form-btn-icon {
	fill: var(--primary-white);
	margin-left: 10px;
}

/* СТИЛІ СЕКЦІЙ */
/* Клас для секцій */
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.no-top-padding {
	padding-top: 0;
}

/* Загальні стилі секцй */
.section-title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.section-title,
.title {
	color: var(--title-text-color);
	letter-spacing: 0.03em;
}
.text {
	letter-spacing: 0.03em;
}

/* СЕКЦЇЇ ГОЛОВНОЇ СТОРІНКИ */
.advantages,
.activities,
.team-members {
	display: flex;
}
.advantages .item + .item,
.activities .item + .item,
.team-members .item + .item {
	margin-left: 30px;
}
.advantages-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	margin-bottom: 30px;
	background-color: var(--light-background);
	border-radius: 4px;
}

/* Секція Наші переваги */
.advantages .item {
	flex-basis: calc((100% - 90px) / 4);
}
.advantages .title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.advantages .text {
	font-size: 14px;
	line-height: 1.71;
}

/* Секція Чим ми займаємось */
.activities .text {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	color: var(--primary-white);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background: rgb(47 48 58 / 0.8);
}

.activities .item {
	position: relative;
}

/* Секція Наша команда */
.team {
	background-color: var(--light-background);
}
.team .title,
.team .text {
	font-size: 16px;
	line-height: 1.19;
}
.team .title {
	margin-bottom: 10px;
	font-weight: 500;
}
.team .text {
	margin-bottom: 16px;
}
.team-members .item {
	flex-basis: calc((100% - 90px) / 4);
	background-color: var(--primary-white);
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12), 0px 1px 1px rgb(0 0 0 / 0.14), 0px 2px 1px rgb(0 0 0 / 0.2);
}
.team-card-info {
	padding: 30px 0;
}

.messengers {
	display: flex;
	justify-content: center;
}
.messengers-item:not(:first-child) {
	margin-left: 10px;
}
.messengers-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: var(--primary-icon-color);
	transition: color var(--transition-time) var(--transition-timing-function),
		background-color var(--transition-time) var(--transition-timing-function);
}
.messengers-link:hover,
.messengers-link:focus {
	background-color: var(--accent-color);
	color: var(--primary-white);
}
.messengers-icon {
	fill: currentColor;
}

/* Секція Постійні клієнти */
.customers {
	display: flex;
}
.customer-item:not(:first-child) {
	margin-left: 30px;
}
.customer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--primary-icon-color);
	border-radius: 4px;
	color: var(--primary-icon-color);
	transition: color var(--transition-time) var(--transition-timing-function),
		border-color var(--transition-time) var(--transition-timing-function);
}
.customer-link:hover,
.customer-link:focus {
	border-color: var(--accent-color);
	color: var(--accent-color);
}
.customer-icon {
	fill: currentColor;
}

/* СЕКЦІЯ СТОРІНКИ ПОРТФОЛІО */
/* Фільтр */
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter .item + .item {
	margin-left: 8px;
}
/* Картки портфоліо */
.portfolio {
	display: flex;
	flex-wrap: wrap;
}
.portfolio .item {
	flex-basis: calc((100% - 60px) / 3);
	transition: box-shadow var(--transition-time) var(--transition-timing-function);
}
.portfolio .item:hover {
	box-shadow: 0px 3px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.08), 0px 2px 2px rgb(0 0 0 / 0.12);
}
.portfolio .item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio .item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
.portfolio .title {
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio .text {
	font-size: 16px;
	line-height: 1.88;
	color: var(--primary-text-color);
}
.card-info {
	padding: 20px 24px 19px;
	border-right: 1px solid var(--card-border-color);
	border-bottom: 1px solid var(--card-border-color);
	border-left: 1px solid var(--card-border-color);
}

.portfolio-details {
	position: relative;
	overflow: hidden;
}

.portfolio-details .details {
	position: absolute;
	top: 0;
	left: 0;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--primary-white);
	background-color: rgb(33 150 243 / 0.9);
	transform: translateY(100%);
	transition: transform var(--transition-time) var(--transition-timing-function);
}

.portfolio .link:hover .details {
	transform: translateY(0%);
}

/* ФУТЕР */
.footer {
	background-color: var(--dark-background);
	padding: 60px 0;
}
.footer .logo {
	display: inline-block;
	margin-bottom: 20px;
	color: var(--primary-white);
}
.footer .item + .item {
	margin-top: 9px;
}
.address .link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
	color: var(--contact-footer);
	transition: color var(--transition-time) var(--transition-timing-function);
}
.address .fact-address {
	color: var(--primary-white);
}
.address .link:hover,
.address .link:focus {
	color: var(--accent-color);
}
.footer-content {
	display: flex;
	align-items: baseline;
}
.footer-content .footer-part:not(:first-child) {
	margin-left: 70px;
}
.footer-messengers-text,
.footer-form-text {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white);
}
.footer .messengers-link {
	background-color: rgb(255 255 255 / 0.1);
	color: var(--primary-white);
	transition: background-color var(--transition-time) var(--transition-timing-function);
}
.footer .messengers-link:hover,
.footer .messengers-link:focus {
	background-color: var(--accent-color);
}
.footer-form {
	margin-left: auto;
}
.footer-form-input {
	min-width: 358px;
	height: 50px;
	padding: 15px 16px;
	margin-right: 12px;
	background-color: transparent;
	border: 1px solid rgb(255 255 255 / 0.3);
	border-radius: 4px;
	color: rgb(255 255 255 / 0.6);
}
.footer-form-input:focus {
	outline: none;
}
.footer-form-input::placeholder {
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgb(255 255 255 / 0.6);
}
/* Модальне вікно */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgb(0 0 0 / 0.2);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	padding: 40px;
	width: 528px;
	height: 581px;
	background: var(--primary-white);
	box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12), 0px 1px 1px rgb(0 0 0 / 0.14), 0px 2px 1px rgb(0 0 0 / 0.2);
	border-radius: 4px;
	opacity: 1;
	visibility: visible;
	transition: transform var(--transition-time-modal) var(--transition-timing-function),
		visibility var(--transition-time-modal) var(--transition-timing-function),
		opacity var(--transition-time-modal) var(--transition-timing-function);
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: transform var(--transition-time-modal) var(--transition-timing-function),
		visibility var(--transition-time-modal) var(--transition-timing-function),
		opacity var(--transition-time-modal) var(--transition-timing-function);
}
.is-hidden .modal {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
}
.close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--primary-white);
	border: 1px solid rgb(0 0 0 / 0.1);
	cursor: pointer;
	transition: border var(--transition-time) var(--transition-timing-function),
		background-color var(--transition-time) var(--transition-timing-function);
}
.close-button:hover,
.close-button:focus {
	border: 1px solid var(--accent-color);
	background-color: rgb(0 0 0 / 0.1);
}

.modal-form {
	display: flex;
	flex-direction: column;
}
.modal-form-title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}
.input-field {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.input-field .label,
.input-field input,
.input-field textarea {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}
.input-field .label {
	margin-bottom: 4px;
}
.input-field input {
	height: 40px;
	padding: 12px 12px 12px 42px;
}

.input-field textarea {
	resize: none;
	height: 120px;
	padding: 12px 16px;
}
.input-field input,
.input-field textarea {
	border: 1px solid rgb(33 33 33 / 0.2);
	border-radius: 4px;
	transition: border var(--transition-time) var(--transition-timing-function);
}
.input-field textarea::placeholder {
	color: rgb(117 117 117 / 0.5);
}
.modal-form-icon {
	position: absolute;
	left: 12px;
	bottom: 11px;
	fill: var(--title-text-color);
	transition: fill var(--transition-time) var(--transition-timing-function);
}
.input-field input:focus,
.input-field textarea:focus {
	border-color: var(--accent-color);
	outline: none;
}
.input-field input:focus + .modal-form-icon {
	fill: var(--accent-color);
}
.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.checkbox-label {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.checkbox-label a {
	text-decoration-line: underline;
	color: var(--accent-color);
}
.checkbox-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 15px;
	margin-right: 8.38px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	transition: background-color var(--transition-time) var(--transition-timing-function);
}

.checkbox-input:checked + .checkbox-icon {
	border-color: transparent;
	background-color: var(--accent-color);
}
